* {
  box-sizing: border-box;
}

.button-style {
  width: fit-content;
  background-color: #24ad98;
  color: white;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

@media (hover: hover) {
  .button-style:hover {
    background-color: white;
    color: #24ad98;
  }
}




/* ALTERNATYWA 

.button-style:hover {
  background-color: white;
  color: #24ad98;
}
*/

/*@media only screen and (max-width: 768px) {
  .button-style {
    pointer-events: none;
  }
}


*/
