* {
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.button-style {
  width: 100%;
  background-color: #24ad98;
  border: none;
  color: white;
  padding: 20px 40px 20px 40px;
  text-align: center;
  text-decoration: white;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-style:hover {
  background-color: white;
  color: #24ad98;
}
